<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<head>
    <title>User Page</title>
</head>
<body>
<div>
<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
    <h1>Hello <span th:text="${user.username}">NOT FOUND</span></h1>
    <img th:src="@{${'pics/' + user.filename}}" />

    <br>
    <h3>welcome to your account, you can now start to chat </h3>
    <a th:src="@{/chatservice}"><button class="btn"> Begin Chat</button></a>
    <br><br>
    <div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn" value="Sign Out"/>
    </form>
    </div>

</div>
</body>
</html>